.column-card-list {
  margin-top: 20px;

  .column-card-list-inner {
    overflow-y: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    max-height: 500px;
  }

  .column-card-list-inner::-webkit-scrollbar {
    width: 0;
  }

}

@media (min-width: 320px) {
  .column-card-list {
    margin-top: 20px;

    .column-card-list-inner {
      overflow-y: scroll;
      max-height: 450px;
    }

    .column-card-list-inner::-webkit-scrollbar {
      width: 0;
    }
  }
}
