.column {
  width: 270px;
  min-width: 270px;
  height: 100%;
  background-color: #ebecf0;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  margin: 10px;

  .column-inner {
    width: 100%;
    padding: 10px;

    .column-title {
      cursor: pointer;
      max-width: 220px;
    }

    .column-settings-button {
      border: none;
      margin-top: 5px;

      &:hover {
        background-color: lightgrey;
        border-radius: 3px;
      }
    }

    .column-inner-all {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

@media (min-width: 320px) {
  .column {
    width: 270px;
    min-width: 270px;
    margin-right: 20px;
  }
}

@media (min-width: 375px) {
  .column {
    width: 325px;
    min-width: 325px;
  }
}

@media (min-width: 425px) {
  .column {
    width: 375px;
    min-width: 375px;
  }
}

@media (min-width: 768px) {
  .column {
    width: 270px;
    min-width: 270px;
  }
}