.column-title-and-setting-form {
  margin: 8px auto 5px;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .form-input {
    width: 85%;
    border-radius: 3px;
    border: none;
    padding: 4px;
    font-size: 16px;
  }

  .form-button {
    border: none;
    border-radius: 3px;
    outline: none;
    padding: 4px 8px;

    &:hover {
      background-color: #D3D3D3;
    }
  }
}