.column {
  min-width: 300px;
  border: 2px solid #343a40;
  border-radius: 5px;
  margin-right: 2rem;
  height: 100%;

  .card-field {
    background-color: #f8f9fa;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
  }

  .card-field-default {
    height: 100px;
    justify-content: center;
  }

  .card-field-button {
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
    width: 85%;


    &:hover {
      background-color: #DFDFDE;
    }
  }
}