.column {
  margin: 0 15px;
  min-width: 270px;
  max-width: 270px;
  background-color: #ebecf0;
  border-radius: 3px;
  height: 100%;

  .column-inner {

    .column-title-and-settings {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      min-height: 45px;

      .title {
        font-size: 16px;
        padding: 10px;
        cursor: pointer;
      }

      .settings {
        margin-right: 4px;
        padding: 10px;
        font-size: 12px;
        cursor: pointer;
        opacity: 70%;

        &:hover {
          background-color: #D3D3D3;
          opacity: 100%;
          border-radius: 3px;
        }
      }
    }

    .column-cards {
      width: 95%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;

      .column-add-card {
        background-color: #ebecf0;
        outline: none;
        border: none;
        width: 100%;
        border-radius: 3px;
        margin-top: 5px;
        margin-bottom: 10px;
        opacity: 70%;
        padding: 5px;

        &:hover {
          background-color: #D3D3D3;
          opacity: 100%;
        }
      }
    }
  }
}