.app {
  background-color: #007bff;
  width: 100%;
  height: 100vh;
  padding: 30px;

  .kanban-board {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;

    .kanban-board-add-column-button {
      height: 40px;
      width: 270px;
      min-width: 270px;
      margin: 10px;
      border: none;
      border-radius: 3px;
    }
  }
}
