#kanban-board {
  height: 100vh;
  padding: 2rem;

  .kanban-board-inner {
    padding: 2rem;
    overflow-x: hidden;
    border: 2px solid #343a40;
    border-radius: 5px;
    height: 100%;

    &:hover {
      padding-bottom: 1rem;
      overflow-x: scroll;
    }

    .kanban-board-adaptive {
      display: flex;
      flex-direction: row;

    }

    .kanban-board-button {
      border: 2px solid #343a40;
      border-radius: 5px;
      padding: 10px;
      outline: none;
      min-width: 250px;
      height: 50px;


      &:hover {
        background-color: #DFDFDE;
      }
    }
  }
}